HELP.md

# ======================
# Maven / Spring Boot
# ======================
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# ======================
# Angular / Frontend
# ======================
khotwa-frontend/node_modules/
khotwa-frontend/dist/
khotwa-frontend/.angular/

# ======================
# Backend uploads
# ======================
khotwa-backend/uploads/
